@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
        /* Slide to original position */
    }
}

section {
    transform: translateX(-100%);
    /* Start off the screen */
    animation: slideIn 2s ease-out forwards;
    /* Apply animation */

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    ;
    /* * {
    box-sizing: border-box;
  } */

}

/* #ul2 {
    display: none;
} */

/* body {
    background-image: url("../images/landing.jpeg") !important;
  
    background-size: cover;
    background-position: center;
    background-position: center;
 
    display: flex;

    height: 100%;

    width: 100%; */
/* This will make sure the image covers the entire background */
/* background-repeat: no-repeat; */
/* Prevents the image from repeating */
/* background-attachment: fixed; */
/* Ensures the background image stays fixed during scroll */
/* overflow: auto; */
/* display: flex; */
/* flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;


} */

.mySlides {
    display: none;
}

#navbar {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 20vh;
}

#ul1 {
    display: inline-flex;
    align-items: center;
    /* min-width: 100%; */
    flex-direction: row;
    margin-inline-start: 10%;
    position: fixed;
    margin-left: 48%;
    z-index: 1000;
}


.nav-btns {
    position: sticky;
    /* margin-left: 5%; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 5%; */
    background: #000000;
    flex-wrap: nowrap;
    color: antiquewhite;
    /* padding: 10%; */
    margin-left: 3%;
    margin-right: 5%;
    cursor: pointer;
    border: 2px solid #7a7a7a;
    border-radius: 6px;
    height: 0%;
    object-fit: fill;
    opacity: 0.8;
    color: rgb(246, 239, 239);
    background-color: rgb(0, 0, 0);
    width: 15%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    padding: 5%;
    color: black;
    display: flex;
    justify-content: center;
}

.nav-btns:hover {
    background-color: #7a7a7a;
    color: #000000;
}

.nav-items {
    color: aliceblue;
    letter-spacing: 3px;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    background-color: #2c2c2ceb;
    width: 100%;
    min-width: 100%;
    padding-right: 3%;
    /* overflow: auto; */
}

body {
    background-image: url("../images/landing.jpeg") !important;
    /* background-image: url("staticfiles/images/landing.jpeg") !important; */
    background-size: cover;
    background-position: center;
    background-position: center;
    /* object-fit: cover; */
    display: flex;
    /* max-width: 100%; */
    height: 100%;
    /* Maintains aspect ratio */
    width: 100%;
    /* This will make sure the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Ensures the background image stays fixed during scroll */
    overflow: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;

}


#ul1 a {
    text-decoration: none;
}

.about-section-content {
    color: aliceblue;
    margin-right: 1%;
    margin-left: 0%;
}

.mobile-navbar {
    display: none;
}


section {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    /* background-color: #2c2c2ceb; */
    width: 88%;
    background: none;
    padding-right: 5%;
}

@media (min-width: 350px) and (max-width:780px) {
    #navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-items: center;
        margin-left: 67px;
        max-width: 100%;
    }

    #ul1 {
        display: none;
    }

    #ul2 {
        display: flex;
        align-items: center;

        justify-content: center;
        background: none
    }

    #ul2 a {

        text-decoration: none;
        position: fixed;
        background-color: black;
        padding: 5%;


    }

    .nav-btns {
        /* margin-left: 5%; */
        display: flex;
        justify-content: right;
        /* padding-right: 5%; */
        background: #000000;
        flex-wrap: wrap;
        color: antiquewhite;
        padding: 10%;
        /* margin-left: 3%; */
        /* margin-right: 5%; */
        cursor: pointer;
        border: 2px solid #7a7a7a;
        /* border-radius: 6px; */
        height: 5%;
        /* object-fit: fill; */

        opacity: 0.8;
        color: rgb(246, 239, 239);
        background-color: rgb(0, 0, 0);
        width: auto;
        margin-top: 2%;
        margin-right: 3%;
    }

    .slideshow-container {
        position: relative;
        /* max-width: 1000px; */
        margin: auto;
        /* border: 5px solid beige; */
        margin-left: 3%;
        margin-right: 3%;
        /* background-color: black; */
        padding-left: 0px;
        max-width: fit-content;
    }


}

.section-heading {
    display: flex;
    align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */
    margin-left: 24%;
    letter-spacing: 3px;
    justify-content: center;
    /* background-color: black; */
    color: #d1d1d1;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;
    margin-top: 3%;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 0%;
    /* border: 15px solid azure; */
    /* border-style: double; */
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 4%;

}

#portfolio {
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-block-start: 30px;
    margin-left: 0%;
    background: darkseagreen;
    letter-spacing: 1px;
    /* font-family: sans-serif; */
    font-family: 'Merriweather', serif;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    /* border: 5px solid beige; */
    margin-left: 0%;
    margin-right: 3%;
    /* background-color: black; */

}



#project-header {
    display: flex;
    align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */
    margin-left: 24%;
    letter-spacing: 3px;
    justify-content: center;
    background-color: darkseagreen;
    color: #d1d1d1;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;
    margin-top: 3%;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 0%;
    border: 15px solid azure;
    border-style: double;
    padding-left: 0px;
    padding-right: 0px;
}

p {
    align-self: baseline;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: white;
    padding: 4px;
}

.gallery img {
    margin-left: 0%;
    border: 15px ridge rgb(50, 64, 63);
    margin-bottom: 10px;
    margin-right: 30px;
    margin-top: 1px;

    min-width: 27%;
    width: 27%;
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    /* display: flex; */
}

.item,
.document {
    display: flex;
    margin: 20px;
    gap: 40px;
    height: 350px;
    max-height: 500px;
}

#certifications {
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

h1 {
    /* color: white; */
    font-size: xxx-large;
    color: #0a0303;
    margin-bottom: 0px;
    width: max-content;
    /* margin-top: 15%; */
    margin-left: 5%;
    text-shadow: 9px 9px 15px #000000;
}

h2 {
    color: white;
    margin-left: 17%;
}

.active {
    background-color: #000000;
    /* display: flex; */
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

section {
    margin-top: 2%;
    margin-bottom: 1%;
}

#contact-section {
    background-color: black;
    width: 98%;
    min-width: 86%;
}

#location h3 {
    font-size: xx-large;
    color: aliceblue;
}

.about-sub-heading {
    font-size: xx-large;
    color: aliceblue;
    align-self: baseline;
}

.portfolio-sub-heading {
    font-size: xx-large;
    color: aliceblue;
    width: 14%;
    min-width: 14%;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.contact-item i {
    font-size: 24px;
    color: #555;
    margin-right: 10px;
}

.contact-item span {
    color: #fcfcfc;
    letter-spacing: 3px;
    font-size: inherit;
    padding-right: 5%;
    margin-right: 3px;
}

.contact-item iframe {

    margin-right: 33px;
    margin-bottom: 31px;
    border: 12px solid gray;
    border-style: ridge;
    height: 265px;
    width: 319px;
    min-width: 361px;
    width: 51vw;
    height: 64vh;
    /* min-height: 30%; */
}

button {
    background: black;
    color: antiquewhite;
    width: 130px;
    height: 60px;
    margin-right: 10%;
}

.navigation {
    margin-top: 0%;
    width: 87%;
    margin-bottom: 4%;
}

/****** Now Applying the media queries *****************************************************************************/


.document p {
    padding-left: 4%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: inherit;
    align-self: baseline;
}

.dynamic-subheading {

    font-size: x-large;
    color: #b1b1b1;
    margin-bottom: 5%;
    font-weight: 600;
    margin-left: 7%;
}

#profile-pic {
    display: flex;
    margin-left: 43%;
    border: 10px solid #000000;
    border-style: solid;
    width: 10%;
    height: 20%;
    border-radius: 180px;
}

/*  */
.project-des {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    word-spacing: 3px;
    letter-spacing: inherit;
    margin-top: 8%;
    font-size: large;
    line-height: 150%;
    height: 48vh;
    min-height: 48vh;
}

#events h2 {
    margin-top: 10%;
}

#education-section {
    font-size: xx-large;
}

#education-section h3 {
    font-size: x-large;
    color: white;
}

#education-section p {
    font-size: large;
}



.skills {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    gap: 5px;
}

.fas {
    color: gold;
}

.far {
    color: lightgray;
}

.holder {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    flex-wrap: wrap;
}

.sub-heading {
    margin-right: 20%;
    font-size: xx-large;
    color: beige;
    word-spacing: 5px;
}

.prev {
    /* background: url('static/images/left-arrow.png') no-repeat center left; */
    background: url("../images/left-arrow.png") no-repeat center left;
    background-size: 54px 43px;
    padding-left: 30px;
    /* Add space to the left for the icon */
    border: none;
    cursor: pointer;
    text-decoration: underline;
    width: 12%;
    font-size: larger;


}

.next {
    /* background: url('static/images/right-arrow.png') no-repeat center left; */
    background: url("../images/right-arrow.png") no-repeat right;
    background-size: 54px 43px;
    padding-left: 9px;
    /* Add space to the left for the icon */
    border: none;
    cursor: pointer;
    width: 12%;
    text-decoration: underline;
    font-size: larger;

}

/* Add hover effect for both buttons */
.prev:hover,
.next:hover {
    color: #007BFF;
    /* Change color on hover */
}

.mobile-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    /* background-position: 41px 57px; */
    /* background-color: #f4f4f4; */
    position: fixed;
    border-bottom-right-radius: 59px;
    /* border-bottom-left-radius: 92px; */
    /* border-top-left-radius: 163px; */
    /* margin-left: 14px; */
    border-top-right-radius: 26px;
    background-color: #2e3941c9;
}

.mobile-nav-menu ul2 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-menu ul2 li {
    margin: 0 10px;
}

.mobile-nav-menu ul2 a {
    text-decoration: none;
    color: #000;
}

/* Hamburger menu icon */
.hamburger {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.hide {
    display: none;
}

#ul3 {
    display: none;
}

.dynamic-content {
    font-size: xxx-large;
    letter-spacing: 4px;
    margin-top: -13%;
    margin-bottom: 10px;
    font-family: emoji;
    line-height: normal;
}

.portfolio-description {
    align-self: center;
    min-height: 40vh;
    height: 40vh;
    margin-left: 76px;
    width: 70%;
    min-width: 70%;
}

#events {
    margin-top: 10%;
}

#products {
    height: 126vh;
    min-height: max-content;
}

.dots {
    /* align-self: center; */
    margin-left: 9%;
    margin-bottom: 2%;
}

@media (min-width: 350px) and (max-width:667px) {
    #skillset {
        align-self: center;
    }

    #education-section {
        margin-left: 30%;
        font-size: xx-large;
    }

    .about-section-content {
        color: aliceblue;
        margin-right: 1%;
        margin-left: 15%;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 5%;
        background-color: #2c2c2ceb;
        width: 150%;
        padding-right: 0%;
        margin-top: -6%;
        /* overflow: auto; */
    }

    #products {
        height: max-content;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .item,
    .document {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px;
        gap: 40px;
        height: max-content;
        max-height: max-content;
    }

    section {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        background: none;
        width: 168vw;
        min-width: 145vw;
        /* padding-right: 5%; */
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 154px;
        background-color: #e0b2b245;
        width: 96%;
        margin-right: 0%;
        /* margin-top: 3vh; */
        margin-left: 20%;
        background: none;
    }

    #certifications {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: inherit;
        max-height: max-content;
        height: max-content;
    }

    .document p {
        padding-left: 10%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: inherit;
        min-height: 55vh;
        height: 55vh;
        margin-top: -162px;
    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gallery img {

        border: 15px ridge rgb(50, 64, 63);
        margin-bottom: 10px;
        margin-right: 30px;
        margin-top: 1px;
        margin-left: 9%;
        min-width: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        height: 300px;
        /* display: flex; */
    }

    .in-view {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #contact-section {
        width: 144%;
        min-width: 100%;
        /* object-fit: contain; */

    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .dynamic-content {
        font-size: xxx-large;
        letter-spacing: 4px;
        margin-top: -5%;
        margin-bottom: 10px;
        font-family: emoji;
        line-height: normal;
    }

    .hamburger {
        display: flex;
        /* Display the hamburger menu icon */
        align-self: baseline;
    }

    .mobile-nav {
        display: flex;
        background-color: aqua;
    }

    #ul3 {
        display: none;
    }

    #ul3.active {
        display: flex;
        flex-direction: column;
        /* background-color: #f4f4f4; */
        background: none;
        flex-wrap: nowrap;
        padding-top: 15px;
        margin-left: 42%;
        gap: 20px;
    }

    #ul3 li {
        margin-right: 26%;
        position: sticky;
        display: flex;
        justify-content: space-between;
        margin-left: -73%;
        margin-right: 15%;
        cursor: pointer;
        margin-top: 0%;
        border: 2px solid #7a7a7a;
        border-radius: 6px;
        height: 3%;
        object-fit: fill;
        opacity: 0.8;
        width: 45vw;
        margin-top: 2%;
        align-items: center;
        padding: 5%;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        z-index: 9999;
        margin-bottom: 5%;
    }

    .mobile-nav a {
        text-decoration: none;
        font-size: larger;
        color: aliceblue;
        /* color: black; */
        /* background-color: beige; */
    }

    .navigation button {
        display: inline-flex;
        /* Ensures content and background align in a row */
        align-items: center;
        /* Centers the content vertically */
        /* background: none;  */
        border: none;
        /* Removes default border */
        cursor: pointer;
        /* Changes the cursor to indicate the button is clickable */
        margin-left: 5%;
    }

    .navigation button span {
        display: inline-block;
        padding-right: 20px;
        /* Adds space to the right for the background image */
    }

    .prev {
        /* background: url('static/images/left-arrow.png') no-repeat center left; */
        background: url("../images/left-arrow.png");
        background-size: 54px 43px;
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 100px;
        /* Add space to the left for the icon */
        border: none;
        cursor: pointer;
        width: 12%;

        font-size: larger;


    }

    .prev span {
        margin-left: 16px;
        align-self: center;
    }

    .next {
        /* background: url('static/images/right-arrow.png') no-repeat center left; */
        background: url("../images/right-arrow.png");
        background-size: 54px 43px;
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 0px;
        border: none;
        /* gap: 1px; */
        cursor: pointer;
        width: 12%;
        padding-right: 94px;
        font-size: larger;

    }

    .project-des {
        margin-bottom: 35%;
        margin-left: 9%;
    }

    .contact-item iframe {
        /* border: 0; */
        margin-right: 33px;
        margin-bottom: 31px;
        border: 12px solid gray;
        border-style: ridge;
        height: 265px;
        width: 319px;
        min-width: 361px;

    }

    .portfolio-description {
        /* min-height: max-content;
    height: max-content; */
        height: 21vh;
        min-height: 16vh;
        margin-left: 12%;
        width: 95%;
        min-width: 95%;
    }

    .portfolio-sub-heading {
        font-size: xx-large;
        color: aliceblue;
        width: 114%;
        min-width: 114%;
        margin-left: 58%;
        align-self: center;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dots {
        margin-left: 35%;
        padding-bottom: 5%;
    }
}


@media (min-width: 760px) and (max-width:1200px) {

    [id^="pic"] {
        margin-left: 0%;
        border: 15px solid #32403f;
        margin-bottom: 10px;
        margin-right: 40px;
        border-style: ridge;
        min-width: 63%;
        width: 63%;
        /* overflow: hidden; */
        object-fit: cover;
        overflow: hidden;
        min-height: 476;
        height: 476px;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 10%;
        background-color: #2c2c2ceb;
        width: 150%;
        padding-right: 5%;
        margin-top: 0%;
        /* overflow: auto; */
    }

    #products {
        height: max-content;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .item,
    .document {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px;
        gap: 40px;
        height: max-content;
        max-height: max-content;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 154px;
        /* background-color: #80808045; */
        width: 96%;
        margin-right: 13%;
        margin-left: 21%;
        padding-left: 30%;
        margin-top: 58%;
        width: 91%;
        margin-bottom: 4%;
        background-color: #1bf1f43d;
    }

    #profile-pic {
        width: 19%;
        margin-left: 40%;
    }

    #certifications {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: inherit;
        max-height: max-content;
        height: max-content;
    }

    #cert-nav {
        margin-top: 17px;
        margin-left: 0px;
        padding-left: 30%;
        width: 90%;
        margin-right: 14%;
        margin-left: 21%;
        padding-left: 30%;
    }

    #certificates {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .document p {
        padding-left: 10%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: inherit;
        min-height: 55vh;
        height: 55vh;
        margin-top: -50%;
    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: max-content;
        height: max-content;
    }

    .gallery img {
        margin-left: 0%;
        border: 15px ridge rgb(50, 64, 63);
        margin-bottom: 10px;
        margin-right: 30px;
        margin-top: 1px;
        width: 134vw;
        object-fit: cover;
        overflow: hidden;

        height: 433px;
    }

    .in-view {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #contact-section {
        width: 157%;
        min-width: 100%;
        /* object-fit: contain; */

    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .dynamic-content {
        font-size: xxx-large;
        letter-spacing: 4px;
        margin-top: -5%;
        margin-bottom: 10px;
        font-family: emoji;
        line-height: normal;
    }

    .hamburger {
        display: flex;
        /* Display the hamburger menu icon */
        align-self: baseline;
    }

    .mobile-nav {
        display: flex;
        background-color: aqua;
    }

    #ul3 {
        display: none;
    }

    #ul3.active {
        display: flex;
        flex-direction: column;
        /* background-color: #f4f4f4; */
        background: none;
        flex-wrap: nowrap;
        padding-top: 15px;

        margin-left: 61%;
        gap: 20px;
    }

    #ul3 li {
        margin-right: 26%;
        position: sticky;
        display: flex;
        justify-content: space-between;
        margin-left: -73%;
        margin-right: 15%;
        cursor: pointer;
        margin-top: 0%;
        border: 2px solid #7a7a7a;
        border-radius: 6px;
        height: 3%;
        object-fit: fill;
        opacity: 0.8;
        width: 21vw;
        margin-top: 2%;
        align-items: center;
        padding: 5%;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        margin-right: 111px;
        z-index: 9999;
        margin-bottom: 5%;
    }

    .mobile-nav a {
        text-decoration: none;
        font-size: larger;
        color: aliceblue;
        /* color: black; */
        /* background-color: beige; */
    }

    .navigation button {
        display: inline-flex;
        /* Ensures content and background align in a row */
        align-items: center;
        /* Centers the content vertically */
        /* background: none;  */
        border: none;
        /* Removes default border */
        cursor: pointer;
        /* Changes the cursor to indicate the button is clickable */
        margin-left: 5%;
    }

    .navigation button span {
        display: inline-block;
        padding-right: 20px;
        /* Adds space to the right for the background image */

        margin-left: 44px;
    }

    .dots {
        /* align-self: center; */
        margin-left: -13%;
        margin-bottom: 2%;
        margin-top: 5%;
    }

    .project-des {
        margin-bottom: -36%;
        align-self: center;
    }

    #events {
        margin-top: -9%;
        align-items: center;
    }

    .contact-item iframe {
        /* border: 0; */
        margin-right: 33px;
        margin-bottom: 31px;
        border: 12px solid gray;
        border-style: ridge;
        height: 300px;
        width: 50%;
        min-width: 361px;

    }

    .portfolio-description {
        min-height: 40vh;
        height: 40vh;
        margin-top: 10%;
        margin-bottom: -20%;
    }

    .portfolio-sub-heading {
        font-size: xx-large;
        color: aliceblue;
        width: 75%;
        min-width: 37%;
        margin-left: 24%;
        margin-bottom: 0px;
        align-self: center;
    }


}

@media (min-width: 1280px) and (max-width:800px) {

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 10%;
        background-color: #2c2c2ceb;
        width: 150%;
        padding-right: 5%;
        margin-top: -6%;
        /* overflow: auto; */
    }

    #products {
        height: max-content;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .item,
    .document {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px;
        gap: 40px;
        height: max-content;
        max-height: max-content;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 154px;
        /* background-color: #80808045; */
        width: 96%;
        margin-right: 0%;
        margin-left: -2px;
        background-color: gray;
    }

    #certifications {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: inherit;
        max-height: max-content;
        height: max-content;
    }

    .document p {
        padding-left: 10%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: inherit;
        min-height: 55vh;
        height: 55vh;
        margin-top: -162px;
    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gallery img {
        margin-left: 0%;
        border: 15px ridge rgb(50, 64, 63);
        margin-bottom: 10px;
        margin-right: 30px;
        margin-top: 1px;
        width: 134vw;
        object-fit: cover;
        overflow: hidden;
        height: 300px;
        /* display: flex; */
    }

    .in-view {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #contact-section {
        width: 165%;
        min-width: 160%;
        /* object-fit: contain; */

    }

    h1 {
        /* color: white; */
        font-size: xxx-large;
        color: #0a0303;
        margin-bottom: 0px;
        /* margin-top: 15%; */
        text-shadow: 9px 9px 15px #000000;
    }

    .dynamic-content {
        font-size: xxx-large;
        letter-spacing: 4px;
        margin-top: -5%;
        margin-bottom: 10px;
        font-family: emoji;
        line-height: normal;
    }

    .hamburger {
        display: flex;
        /* Display the hamburger menu icon */
        align-self: baseline;
    }

    .mobile-nav {
        display: flex;
        background-color: aqua;
    }

    #ul3 {
        display: none;
    }

    #ul3.active {
        display: flex;
        flex-direction: column;
        /* background-color: #f4f4f4; */
        background: none;
        flex-wrap: nowrap;
        padding-top: 15px;
        margin-left: 42%;
        gap: 20px;
    }

    #ul3 li {
        margin-right: 26%;
        position: sticky;
        display: flex;
        justify-content: space-between;
        margin-left: -73%;
        margin-right: 15%;
        cursor: pointer;
        margin-top: 0%;
        border: 2px solid #7a7a7a;
        border-radius: 6px;
        height: 3%;
        object-fit: fill;
        opacity: 0.8;
        width: 45vw;
        margin-top: 2%;
        align-items: center;
        padding: 5%;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        z-index: 9999;
        margin-bottom: 5%;
    }

    .mobile-nav a {
        text-decoration: none;
        font-size: larger;
        color: aliceblue;
        /* color: black; */
        /* background-color: beige; */
    }

    .navigation button {
        display: inline-flex;
        /* Ensures content and background align in a row */
        align-items: center;
        /* Centers the content vertically */
        /* background: none;  */
        border: none;
        /* Removes default border */
        cursor: pointer;
        /* Changes the cursor to indicate the button is clickable */
        margin-left: 5%;
    }

    .navigation button span {
        display: inline-block;
        padding-right: 20px;
        /* Adds space to the right for the background image */
    }

    .prev {
        /* background: url('static/images/left-arrow.png') no-repeat center left; */
        background: url("../images/left-arrow.png");
        background-size: 54px 43px;
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 100px;
        /* Add space to the left for the icon */
        border: none;
        cursor: pointer;
        width: 12%;

        font-size: larger;


    }

    .next {
        /* background: url('static/images/right-arrow.png') no-repeat center left; */
        background: url("../images/right-arrow.png");
        background-size: 54px 43px;
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 0px;
        /* Add space to the left for the icon */
        border: none;
        cursor: pointer;
        width: 12%;
        padding-right: 88px;
        font-size: larger;

    }

    .project-des {

        margin-bottom: 100%;
    }

    #events {
        margin-top: 10%;
    }

    .contact-item iframe {
        /* border: 0; */
        margin-right: 33px;
        margin-bottom: 31px;
        border: 12px solid gray;
        border-style: ridge;
        height: 265px;
        width: 319px;
        min-width: 361px;

    }

    .portfolio-description {
        min-height: 40vh;
        height: 40vh;
    }


}

@media (min-width: 360px) and (max-width:740px) {

    #readMoreBtn {
        width: 123%;
    }

    .navigation:hover {
        background-color: aliceblue;
        color: black;

    }

    #cert-nav {
        margin-top: 5%;
        margin-left: 14%;
    }

    .navigation {
        margin-bottom: 58%;
        padding-left: 74px;
        margin-top: 75%;
        background-color: #1bf1f43d;
        width: 175vw;
    }

    #events h2 {
        margin-top: -54%;
    }

    #location {
        margin-top: -43%;
    }

    .document p {
        padding-left: 10%;
        display: flex;
        align-self: center;
        flex-direction: column;
        flex-wrap: inherit;
        min-height: min-content;
        height: min-content;
        margin-top: 0px;
        min-height: 10vh;
        height: 10vh;
    }

    .section-heading {
        display: flex;
        align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */

        letter-spacing: 3px;
        justify-content: center;
        /* background-color: black; */
        color: #d1d1d1;
        font-size: xxx-large;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;

        font-weight: 600;
        letter-spacing: 3px;

        /* border: 15px solid azure; */
        /* border-style: double; */
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */

        letter-spacing: 3px;
        justify-content: center;
        /* background-color: black; */
        color: #d1d1d1;
        font-size: xxx-large;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;
        margin-top: 3%;
        font-weight: 600;
        letter-spacing: 3px;
        margin-left: 6%;
        /* border: 15px solid azure; */
        /* border-style: double; */
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 15%;
    }

    .dynamic-content {
        font-size: x-large;
        color: #b1b1b1;
        margin-bottom: 5%;
        font-weight: 600;
        margin-left: 7%;
        width: 107vw;
        min-height: 10vh;
        height: 10vh;
    }
}

@media (max-width: 390px) and (orientation: portrait) {

    /* Portrait-specific styles */
    .dots {
        margin: left 41%;
    }
}

@media (max-width: 844px) and (orientation: landscape) {

    /* Landscape-specific styles */
    .dots {
        margin: left 41%;
    }

}

@media (max-width: 390px) and (max-height: 844px) {

    /* Styles for iPhone 14 and similar devices */
    .dots {
        margin: left 41%;
    }
}

@media (max-width: 950px) {
    body {
        background-image: url("../images/landing.jpeg") !important;
        /* background-image: url("staticfiles/images/landing.jpeg") !important; */
        background-size: cover;
        background-position: center;
        background-position: center;
        /* object-fit: cover; */
        display: flex;
        /* max-width: 100%; */
        height: 100%;
        width: 148%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: auto;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        font-family: Arial, sans-serif;
    }

    .dynamic-content {
        font-size: x-large;
        color: #b1b1b1;
        margin-bottom: 5%;
        font-weight: 600;
        margin-left: 7%;
        width: 107vw;
        min-height: 10vh;
        height: 10vh;
    }
}

@media (min-width: 482) and (max-width:1158) {
    #profile-pic {
        width: 30%;
    }
}