@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    ;
    /* * {
    box-sizing: border-box;
  } */

}

#ul2 {
    display: none;
}

body {
    /* background-image: url("../images/landing.jpeg") !important; */
    background-image: url("static/images/landing.jpeg")!important;
    background-size: 100%;
    background-position: center;
    background-position: center;
    /* object-fit: cover; */
    display: flex;
    /* max-width: 100%; */
    height: 100%;
    /* Maintains aspect ratio */
    width: 100%;
    /* This will make sure the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Ensures the background image stays fixed during scroll */
    overflow: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;


}

.mySlides {
    display: none;
}

#navbar {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 20vh;
}

#ul1 {
    display: inline-flex;
    align-items: center;
    /* min-width: 100%; */
    flex-direction: row;
    margin-inline-start: 10%;
    position: fixed;
    margin-left: 40%;
}


.nav-btns {
    position: sticky;
    /* margin-left: 5%; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 5%; */
    background: #000000;
    flex-wrap: nowrap;
    color: antiquewhite;
    /* padding: 10%; */
    margin-left: 3%;
    margin-right: 5%;
    cursor: pointer;
    border: 2px solid #7a7a7a;
    border-radius: 6px;
    height: 0%;
    object-fit: fill;
    opacity: 0.8;
    color: rgb(246, 239, 239);
    background-color: rgb(0, 0, 0);
    width: 15%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    padding: 5%;
    color: black;
    display: flex;
    justify-content: center;
}

.nav-btns:hover {
    background-color: #7a7a7a;
    color: #000000;
}

.nav-items {
    color: aliceblue;
    letter-spacing: 3px;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    background-color: #2c2c2ceb;
    width: 100%;
    padding-right: 5%;
    /* overflow: auto; */
}

#ul1 a {
    text-decoration: none;
}

.about-section-content {
    color: aliceblue;
    margin-right: 5%;
}

@media (min-width: 350px) and (max-width:780px) {
    #navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-items: center;
        max-width: 100%;
    }

    #ul1 {
        display: none;
    }

    #ul2 {
        display: flex;
        align-items: center;
        /* min-width: 100%; */
        /* margin-inline-start: 10%; */
        /* margin-right: 15%; */
        /* width: 30%; */
        justify-content: center;
        display: none;
    }

    #ul2 a {

        text-decoration: none;
        position: fixed;
        background-color: black;
        padding: 5%;
        /* display: none; */

    }

    .nav-btns {
        /* margin-left: 5%; */
        display: flex;
        justify-content: right;
        /* padding-right: 5%; */
        background: #000000;
        flex-wrap: wrap;
        color: antiquewhite;
        padding: 10%;
        /* margin-left: 3%; */
        /* margin-right: 5%; */
        cursor: pointer;
        border: 2px solid #7a7a7a;
        /* border-radius: 6px; */
        height: 5%;
        /* object-fit: fill; */

        opacity: 0.8;
        color: rgb(246, 239, 239);
        background-color: rgb(0, 0, 0);
        width: auto;
        margin-top: 2%;
        margin-right: 3%;
    }

    .slideshow-container {
        position: relative;
        /* max-width: 1000px; */
        margin: auto;
        /* border: 5px solid beige; */
        margin-left: 3%;
        margin-right: 3%;
        /* background-color: black; */
        padding-left: 0px;
        max-width: fit-content;
    }


}

.section-heading {
    display: flex;
    align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */
    margin-left: 24%;
    letter-spacing: 3px;
    justify-content: center;
    /* background-color: black; */
    color: #d1d1d1;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;
    margin-top: 3%;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 0%;
    /* border: 15px solid azure; */
    /* border-style: double; */
    padding-left: 0px;
    padding-right: 0px;
}

#portfolio {
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-block-start: 30px;
    margin-left: 0%;
    background: darkseagreen;
    letter-spacing: 1px;
    /* font-family: sans-serif; */
    font-family: 'Merriweather', serif;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    /* border: 5px solid beige; */
    margin-left: 0%;
    margin-right: 3%;
    /* background-color: black; */

}



#project-header {
    display: flex;
    align-items: 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29), 4px 4px 8px #000000; */
    margin-left: 24%;
    letter-spacing: 3px;
    justify-content: center;
    background-color: darkseagreen;
    color: #d1d1d1;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%), 4px 4px 8px #000000;
    margin-top: 3%;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 0%;
    border: 15px solid azure;
    border-style: double;
    padding-left: 0px;
    padding-right: 0px;
}

p {
    align-self: center;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: white;
    padding: 10px;
}

.gallery img{
    margin-left: 0%;
    border: 15px ridge rgb(50, 64, 63);
    margin-bottom: 10px;
    margin-right: 30px;
    margin-top: 1px;
    /*ec2-13-51-226-108.eu-north-1.compute.amazonaws.com/
    /* min-width: 300vw; */
    width: 30vw;
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    /* display: flex; */
}

.item,.document {
    display: flex;
    margin: 20px;
    gap: 40px;
}
#certifications{
    display: flex;
    flex-direction: column;
    align-items: inherit;
}
h1 {
       /* color: white; */
       font-size: xxx-large;
       color: floralwhite;
       margin-bottom: 0px;
       /* margin-top: 15%; */
       text-shadow: 9px 9px 15px #541616;
}

h2 {
    color: white;
    margin-left: 17%;
}

.active {
    background-color: #000000;
    /* display: flex; */
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

section {
    margin-top: 2%;
    margin-bottom: 1%;
}

#contact-section {
    background-color: black;
}

#location h3 {
    font-size: xx-large;
    color: aliceblue;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.contact-item i {
    font-size: 24px;
    color: #555;
    margin-right: 10px;
}

.contact-item span {
    color: #fcfcfc;
    letter-spacing: 3px;
    font-size: inherit;
    padding-right: 5%;
    margin-right: 3px;
}

button {
    background: black;
    color: antiquewhite;
    width: 130px;
    height: 60px;
    margin-right: 10%;
}

.hide {
    display: none;
}

/****** Now Applying the media queries *****************************************************************************/

@media (min-width: 350px) and (max-width:667px) {
    body {
        background-image: url("../images/landing.jpeg") !important;
        background-size: cover;

    }

    h1 {
        /* color: white;   */
        font-size: large;
        color: floralwhite;
        /* margin-bottom: 0px; */
        margin-top: 0%;
        text-shadow: 9px 9px 15px #ffa5a5;

    }

    .item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gallery img {
        width: 80vw;
        height: 50vh;
    }

    .in-view {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    h1 {
        font-size: xxx-large;
        color: floralwhite;
        margin-bottom: 0px;
        text-shadow: 9px 9px 15px #ffa5a5;
    }
}


@media (min-width: 900px) and (max-width:1600px) {
    body {
        background-image: url("../images/landing.jpeg") !important;
        background-size: cover;
    }
}



@media (min-width: 760px) and (max-width:1024px) {
    body {
        background-image: url("../images/landing.jpeg")!important;
        background-size: cover;
    }

    h1 {
          /* color: white; */
    font-size: xxx-large;
    color: #0a0303;
    margin-bottom: 0px;
    /* margin-top: 15%; */
    text-shadow: 9px 9px 15px #000000;
    }

    .gallery img{
        width: 600vw;
        height: 50vh;
    }
}

/* .document embed{
    width: 90vw;
    height: 60vh;
    border: 9px solid #3e8b95;
    border-style: ridge;

    
} */
.document p{
    padding-left: 10%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: inherit;
}
.dynamic-subheading{
       font-size: x-large;
    color: #b1b1b1;
    margin-bottom: 5%;
    font-weight: 600;
}
#profile-pic{
    display: flex;
    margin-left: 45%;
    border: 10px solid #000000;
    border-style: solid;
    width: 10%;
    height: 20%;
    border-radius: 180px;
}
/*  */
.project-des{
    display: flex;
    flex-direction: column;
    padding: 5px;
    word-spacing: 3px;
    letter-spacing: normal;
}
#education-section{
    font-size: xx-large;
}
#education-section h3{
    font-size: x-large;
    color: white;
}
#education-section p{
    font-size: large;
}



.skills {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    gap: 5px;
}

.fas {
    color: gold;
}

.far {
    color: lightgray;
}
.holder{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    flex-wrap: wrap;
}
.sub-heading{
    margin-right: 20%;
    font-size: xx-large;
    color: beige;
    word-spacing: 5px;
}