<!doctype html>
<html lang="en">
  <head>
    <title>Botpress Webchat</title>
  </head>
  <body>
    <div class="webchat" style="height: 600px; width: 400px;">
      <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
      <script defer>
        window.botpress.on("webchat:ready", (conversationId) => {
          botpress.open();
        });
        window.botpress.init({
          "botId": "1e7a7280-018b-45f4-b215-f090c512b4a5",
          "configuration": {
            "website": {},
            "email": {},
            "phone": {},
            "termsOfService": {},
            "privacyPolicy": {},
            "color": "#3B82F6",
            "variant": "solid",
            "themeMode": "light",
            "fontFamily": "inter",
            "radius": 1
          },
          "clientId": "053e223a-5f40-445a-ac54-2707a1cd31c7"
        });
      </script>
    </div>
  </body>
</html>
