<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I work at BAAR Technologies!</title>
</head>
<h1 class="Work" >
    I work at BAAR Technologies!
    
    
</h1>
<style>
    @keyframes fadeInAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .Work{
        opacity: 0;
        animation: fadeInAnimation 2s forwards; /* Animation lasts 2 seconds */
    }
    .work{
            font-family: Arial, sans-serif;
        }
    /* p {
            font-family: 'Times New Roman', serif;
        } */
    </style>
<body>
    
</body>
</html>